body {
    background-color: aquamarine;
}

.header {
    text-align: center;
    margin: 64px;
    font-size: 50px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.toolbar {
    display: flex;
    border: 5px solid black;
    padding: 16px;
    border-radius: 10px;
    background-color: white;
    flex-direction: column;
    flex: 0 1 100px;
    max-width: 20%;
}

.palette {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.palette > div {
    
    flex: 1 1 auto;
    box-sizing: border-box;
    aspect-ratio: 1;
    width: auto;
}
.selected {
    border: 5px solid black;
}


button {
    
    flex: 1 1 auto;
}

.row {
    display: flex;
    flex: 1 1 auto;
}

.sketch {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    border: 5px solid black;
    max-width: 40%;
    aspect-ratio: 1;
    flex: 0 1 auto;
}

.cell {
    background-color: white;
}
.cell:hover {
    background-color: lightblue;
}

dd{
    background-color: purple;
}

.footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
    font-size: 20px;
}

.fa-github {
    color: black;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}