body {
    background-color: aquamarine;
}

.header {
    text-align: center;
    margin: 64px;
    font-size: 50px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding: 16px;
    border-radius: 10px;
    margin-right: 64px;
    background-color: white;
}

.palette {

}

.palette > div {

}

.selected {
    border: 5px dotted black;
}

.resize {

}

.shake {

}

.sketch {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 5px solid black;
}

.cell {
    background-color: white;
}
.cell:hover {
    background-color: lightblue;
}